body {
    text-align: center;
    /* background: url("../images/background.jpg") ; */
    background-size: 100%;
}

#title {
    
}

#buttonsMain {
    
}

.gifDiv {
    display: inline-block;
    padding: 10px;
}

.button {
    padding: 10px;
    margin: 5px;
    box-shadow: 3px;
}

form {
    padding: 5px;
    margin: 5px;
}

#show-input {
    margin: 5px;
    padding: 10px;
}

.add-gif {
    margin: 5px;
}